*{
    margin: 50;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-image: url(https://cdn.pixabay.com/photo/2021/12/25/13/08/interior-design-6893061_640.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

img{
 height: 200px;
 margin-left: 600px;
}
 
p{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 50px;
    font-size: 15pt;
}

h2{
    margin-top: 4px;
    margin-left: 30px;
    margin-right: 50px ;
    text-align: center;
}

button {
    margin-top: 30px;
    background-color: #dd5997cc;
    color: #070707;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 10px 6px rgb (0, 0, 0);
    margin-left: 45%;
    margin-top: 100px;
}

button:hover {
    box-shadow: 0px 4px 6px rgb(10, 10, 10);
}

@media (max-width:480px) {
    img {
        margin-left: 100px;
    }
    p {
        font-size: 12pt;
    }
    button {
        margin-left: 28%;
    }
}

